.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .form-control {
    width: 25rem;
    
  }
  .connexion {
    position: relative;
    top: 200px;
  }
  
  
  .pco {
    position: relative;
    left: 900px;
    bottom: 350px;
  }
  
  .lg {
    position: relative;
    left: 1035px;
    bottom: 280px;
  }
  
  .soustitre {
    position: relative;
    left:920px;
    bottom:250px;
  }
  
  .Tm {
    position:relative;
    bottom: 400px;
    left: 230px;
  }
  
  .co {
    position:relative;
    bottom: 420px;
    left: 200px;
  
  }
  