.linkgroupe {
  color: black;
  position :relative;
  top: 1px;
  text-align: end;
  
}
.linksegment {
  color: black;
  position :relative;
  top: 1px;
  text-align: end;

}
.linkcamp {
  color: black;
  position :relative;
  top: 1px;
  text-align: end;

}


.linkgroupe {
  color: black;
  position :relative;
  top: 1px;
  text-align: end;
  
}
.linksegment {
  color: black;
  position :relative;
  top: 1px;
  text-align: end;

}
.linkcamp {
  color: black;
  position :relative;
  top: 1px;
  text-align: end;

}


.Test Button {

  align-items: center;


}

.card1 {
  background-color: white;
  
}



.bouton {
  position: relative;
  left:690px;
  
  
}

.card-header {
  text-align:center;

}

.card {
  width:35rem;
  height:30rem;
  align-items: right;
  position: relative;
  left:1700px;
  top:-210px;

}

.bouton {
  align-items: center;
}

.card-header {
  text-align: center;
}

.bouton {
  align-items: center;
}