.titre {
    text-align: center;
  }
  
  .lien {
    text-align: end;
    color: black;
    top: 0cm;
  }
  
  .container {
    position: relative;
    left: -100px;
  }
  
  .créer {
    position:relative;
    top: 100px;
    text-align: end;
  }
  
  .afficherlist {
    position: relative;
    left: 1000px;
    top: 100px;
  }
  
  .card {
    width: 8rem;
    height: 8rem;
  }

  .titres {
    text-align:start;
    position: relative;
    top: 5px;
  }